.mmm-webview-content::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none !important;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional: remove scrollbar track */
}
webview {
  width: ${this.config.width};
  height: ${this.config.height};
  filter: ${filter};
  overflow: ${scrollbar};
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

webview::-webkit-scrollbar {
  display: none;
}
